<script type="text/javascript">
    $(function() {
        var TOTAL_KEY = 'total';

        var readys_size = <%= @readys.size %>;
        var update_stats = function() {
            $(data_behavior('readys_size')).html(readys_size);

            var total = $(data_behavior('total')).val();
            $('title').html(readys_size + " / " + total);

            var $count = $(data_behavior('count'));
            $count.removeClass('near done');
            if (total != 0) {
                if (readys_size/total === 1) {
                    $count.addClass('done');
                }
                else if (readys_size/total >= 0.75) {
                    $count.addClass('near');
                }
            }

            $.cookie(TOTAL_KEY, total);
        };

        var total = $.cookie(TOTAL_KEY);
        if (total !== '') { $(data_behavior('total')).val(total); }

        update_stats();

        $(data_behavior('total')).blur(function() {
            update_stats();
        });

        $(data_behavior('note')).blur(function() {
            $.ajax('<%= note_path('id') %>', { type: "PUT", data: { note: $(data_behavior('note')).val() } })
        });

        bind_pusher(['readys#create', 'readys#destroy'], function(data) {
            readys_size = data.readys_size;
            update_stats();
        });
    });
</script>

<div class="teacher">
  <div class="count" data-behavior="count">
    <span data-behavior="readys_size"><%= @readys.size %></span> / <%= text_field_tag :total, 10, data: { behavior: "total" } %>
  </div>
  <div>
    <%= link_to "Reset", reset_readys_path, method: :post, class: "btn btn-primary btn-lg" %>
  </div>

  <%= text_area_tag :note, Note.raw, data: { behavior: "note" }, class: "note" %>
</div>
